// // CSS Variables
// :root {
//   --primary-color: #f4f1de;
//   --secondary-c0lor: #f2cc8f;
//   --text-color: #e07a5f;
// }

// body {
//   background-color: var(--primary-color);
// }

// h1 {
//   color: var(--text-color);
// }

// p {
//   color: var(--text-color);

// }

// SASS Variables
// $primary-color: #f4f1de;
// $secondary-c0lor: #f2cc8f;
// $text-color: #e07a5f;

// body {
//   background-color: $primary-color;
// }

// h1 {
//   color: $text-color;
// }

// p {
//   color: $text-color;
// }


// SASS Scope Variables
$secondary-c0lor: #f2cc8f;
$primary-color: #f4f1de;
$text-color: #e07a5f;

body {
  background-color: $primary-color;
}

h1 {
  color: $text-color;
}

p {
  color: $primary-color;
}