// .main {
//   background-color: lightblue;

//   .main-heading {
//     font-size: 2em;
//   }

//   .main-paragraph {
//     font-size: 1.4em;
//   }
// }

// Selector
// .main,
// footer {

//   h1,
//   p {
//     letter-spacing: 1px;
//   }
// }

// .main {

//   // Parent Selector
//   .container & {
//     background-color: lightblue;
//   }

//   .main-heading {
//     font-size: 2em;
//   }

//   &:hover {
//     background-color: salmon;
//   }
// }

// .main {
//   & &-heading {
//     font-size: 2em;
//   }

//   & &-paragraph {
//     font-size: 1.4em;
//   }
// }
// .main {

//   // interpolasi
//   #{&}-heading {
//     font-size: 2em;
//   }

//   #{&}-paragraph {
//     font-size: 1.4em;
//   }
// }

// .footer {
//   & &-heading {
//     font-size: 2em;
//   }

//   & &-paragraph {
//     font-size: 1.4em;
//   }
// }

body {
  background: #ffffff;
  border-top: 0.5em solid #e5e5e5;
  color: #272727;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 112.5%;
  line-height: 1.5;
}

.fonts-loaded body {
  font-family: "PT Sans", sans-serif;
}

p {
  margin: 0 0 1.5625em;
}