<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/scss/main.css">
  <title>SASS</title>
</head>

<body>
  <header>
    <h1>SASS</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Fugit eveniet, hic quibusdam ea temporibus reiciendis
      delectus ex quisquam ipsam esse excepturi.
      Libero magni sequi delectus error tempora cumque quo illo.</p>
  </header>
  <div class="container">
    <section class="main">
      <div class="main-heading">
        <h1>Hello Masrianto</h1>
      </div>
      <div class="main-paragraph">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, maiores molestias? Voluptate suscipit quam
          temporibus magni
          quae asperiores eligendi quaerat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quibusdam commodi cum tenetur,
          ipsum illum iusto pariatur hic neque. Praesentium perspiciatis tenetur consectetur laboriosam quas error modi
          reiciendis veritatis itaque?</p>
      </div>
    </section>
    <footer>
      <div class="footer-heading">
        <h1>footer</h1>
      </div>
      <div class="footer-paragraph">
        <p>footer-paragraph</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, minus ipsa similique quibusdam eveniet
          quisquam? Dolorum deleniti totam laborum,
          exercitationem eaque cum tempore accusantium reiciendis, dicta magni voluptates sed nobis.</p>
      </div>
    </footer>
  </div>

</body>

</html>